.game {
  position: absolute;
  width: 80%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  box-shadow: 0 4px 10px 0 rgba(33, 33, 33, 0.15);
  border-radius: 4px;

  &__title {
    font-weight: 900;
  }

  &__code {
    min-height: 300px;
    padding: 1em 0;
    font-size: 2rem;
    border: unset;
    counter-reset: line-number;

    > code {
      margin: 0;
      padding: 0;
    }
  }

  &__code_line {
    margin: 0;
    padding: 0;
    counter-increment: line-number;

    &:before {
      display: inline-block;
      padding-right: 0.8em;
      content: counter(line-number);
      width: 3em;
      margin: 0 auto;
      padding: 0;
      text-align: right;
    }
  }
}
